<ion-tabs #tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="dersler">
			<ion-icon name="send"></ion-icon>
			<ion-label>Ders Ekle</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="derslistele">
			<ion-icon name="send"></ion-icon>
			<ion-label>Dersler</ion-label>
		</ion-tab-button>
		
		<ion-tab-button tab="nothesabi">
			<ion-icon name="send"></ion-icon>
			<ion-label>Geçme Notu Hesabı</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="notekle">
			<ion-icon name="send"></ion-icon>
			<ion-label>Not Al</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="cameraa">
			<ion-icon name="send"></ion-icon>
			<ion-label>camera</ion-label>
		</ion-tab-button>

		

	</ion-tab-bar>
</ion-tabs>
