ion-content {
    --background: linear-gradient(120deg, #ff0000 0%, #ffffff 100%);
  }
  
  ion-spinner {
    width: 100px !important;
    height: 100px !important;
    margin: auto;
  }
  
  ion-title {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 25px;
    color: #2A2D31;
    font-weight: 600;
  }
  
  ion-button {
    height: 45px;
    font-size: large;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .myInput {
    border-radius: 10px;
    height: 50px;
    margin-bottom: 10px;
    background: white;
    font-weight: bolder;
  }
  